<div>
    <ul>
        <li *ngFor="let item of data">
            {{item.type}}: {{item.amount}}: {{item.id}}
            <button (click)="remove(item._id)">Delete</button>
        </li>
    </ul>
</div>
<div>
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <label>
            Type:
            <input type="text" formControlName="type">
        </label>
        <label>
            Amount:
            <input type="text" formControlName="amount">
        </label>
        <button type="submit" [disabled]="dataForm.invalid">Submit</button>
    </form>
</div>