.container
  display: grid
  grid-template-columns: auto auto auto
  h1
    font-size: 4em
    span
      font-family: 'Born-Ready', cursive
      font-size: 2em
      font-weight: 400
      -webkit-font-smoothing: antialiased