@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
	margin: 0;
}

.content{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 64px 1fr 100px;
	grid-template-areas:
					"header"
					"main"
					"footer";
	app-navigation{
		grid-area: header;
	}
	app-main{
		grid-area: main;
		height: 100%;
	}
	app-footer{
		grid-area: footer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}