@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "custom-theme";
@import "assets/fonts/stylesheet.css";

html, body{
	margin: 0;
	width: 100%;
	height: 100%;
}

*{
	font-family: 'Futura-Book', sans-serif;
	color: #000;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Canela', serif;
}